.navbar {
    background-color: #3C1F42;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
/* Tambahkan CSS untuk mengatur z-index navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3C1F42;
    z-index: 100; /* Ubah sesuai kebutuhan */
  }
  .diamond{
    font-size: 25px;
    margin-top: 6px;
    margin-left: -20px;
    margin-right: -12px;
  }
  .menu-text {
    color: white; 
    margin-top: 20px;
    margin-bottom: 30px;
    margin-bottom: 20px;/* Atur warna teks sesuai kebutuhan */
  }
  .menu-text1{
    color: white;
    margin-bottom: 30px;

  }
  .menu-text2{
    color: white;
    margin-bottom: 30px;
  }
  .menu-text3{
    color: white;
    margin-top: 5px;
  }
  .navbar-title{
    display: flex;
    color: white;
    margin-left: 300px;   
  }
  .CODASOP{
    font-size: 25px;
  }
  .navbar-title p{
    color: white;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 10px;
  }
  .tombol-sidebar{
    display: block;
    margin-top: 50px;
  }
  .dftrskrg{
    background-color: #6242Fc;
    color: white;
    margin-right: 20px;
    border-radius: 15px;
    width: 80%;
  }
  .masuk{
    background-color: white;
    width: 80%;
    border-radius: 15px;
    margin-top: 10px;
  }
  .dftrskrg:hover{
    background-color: blue;
  }
  .masuk:hover{
    background: whitesmoke;
  }
    
.CODA p{
  color: yellow;
}
  .iconn{
    margin-left: 250px;
    font-size: 30px;
  }
  .cari{
    margin-right: 20px;
    cursor: pointer;
  }
  .daftar{
    background-color: blue;
    width: 100px;
    height: 35px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
  }
  .daftar:hover{
    background-color: aqua;
    color: black;
  }
  
.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.icon-sidebar1{
    font-size: 60px;
    margin-right: 20px;
}
.icon-sidebar{
    font-size: 40px;
    margin-right: 20px;
}
.icon-sidebar3{
    font-size: 40px;
    margin-right: 20px;
}

.nav-menu{
    background-color: #3C1F42;
    width: 400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 4;

}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}
.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0  16px;
    border-radius: 4px;
}
.nav-text a:hover{
 background-color: #1a83ff;
}
.nav-menu-items{
    width: 100%;
}
.navbar-toggle{
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}


